/* ============ Common Css Part Start ============ */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, ol{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    width: 100%;
    border-radius: 50px;
    background-color: #00000036;
}

/* ============ Common Css Part End ============ */
